.main {
  color: white;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 10rem 0;
  justify-content: center;
  width: 96vw;
}
.going {
  padding: 5rem;
}
.link {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 6px 3px;
  margin: 7px;
  width: 9rem;
  height: 2.7rem;
  color: white;
  align-items: center;

  background: hsla(285, 76%, 36%, 1);

  background: linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsl(346, 100%, 65%) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );
}
.linkView {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 4px 2px;
  margin: 7px;
  margin-top: -2rem;
  width: 9rem;
  height: 2.7rem;
  color: white;
  align-items: center;

  background: hsla(285, 76%, 36%, 1);

  background: linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsl(346, 100%, 65%) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    li {
      height: 400px;

      max-width: 250px;
      box-shadow: 0 4px 30px rgba(243, 235, 235, 0.3);
      backdrop-filter: blur(8.4px);
      -webkit-backdrop-filter: blur(8.4px);
      background-color: rgba(5, 12, 32, 0.3);
      width: 65vw;
      margin: 0.5rem;
      text-align: center;
      padding: 1.2rem 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1.2px solid white;

      h3 {
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        margin-bottom: 0;
      }
      img {
        border-radius: 10px;
        max-height: 50vw;
        max-width: 200px;
      }
    }
  }
}
.text {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  border-bottom: solid 1.2px white;
  padding: 1rem;
  margin: 1rem 2rem;
  h4 {
    margin: 0;
  }
}
.textForList {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  border-bottom: solid 1.2px white;
  padding: 1rem;
  margin: -4rem 2rem 1rem;
  h4 {
    margin: 0;
  }
}
.buttons {
  display: flex;
}
