.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;

  .form {
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    background-color: rgba(5, 12, 32, 0.6);
    padding-bottom: 1.5rem;
  }
  p {
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin: auto;
    text-align: left;
  }
  h3 {
    font-size: 1rem;
    margin: auto;
  }
  h2 {
    margin: auto;
    font-size: 1.8rem;
  }
}
.h1 {
  padding-bottom: 1rem;
  border-bottom: solid white 1.2px;
  font-size: 1.8rem;
  // text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0.7rem 0;
  h1 {
    margin-bottom: 0;
  }
  p {
    text-align: center;
    color: #ff4d76;
    font-weight: 700;
    letter-spacing: 0.3rem;
  }
}
.going {
  text-transform: uppercase;
}
.editButton {
  background: rgba(185, 179, 179, 0.1);
  border: solid rgba(255, 255, 255, 0.3) 1.2px;
  border-radius: 8px;
  padding: 3px 1px;
  margin: 0;
  width: 3rem;
  color: white;
  align-items: center;
  font-size: 0.7rem;
}
.editButton:hover {
  background: rgba(2, 4, 32, 0.3);
}
.div {
  padding-bottom: 1.5rem;
  margin: 3rem 0 3rem 0;
  padding: 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  text-align: center;
}
.profileImg {
  border-radius: 50%;
  padding: 0.5rem;
}
.comments {
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0rem;
    padding: 1rem;
    color: black;
    border-top: solid white 1.2px;
    li {
      margin: -0.5rem 0;
      img {
        padding: 0.5rem;
      }
    }
  }
}
.hosted {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin: 0.5rem 0;
  padding: 0 3rem;
  align-items: center;
  p {
    margin: 0;
    text-align: center;
    padding-left: 0.8rem;
  }
}
.time {
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  p {
    text-align: left;
    padding-left: 0.8rem;
  }
  img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
.location {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 1rem;
  p {
    text-align: left;
    padding-left: 0.8rem;
  }
  img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
.grooveImg {
  border-radius: 12px;
}
.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;

  p {
    margin: 0;
    padding-left: 0.5rem;
  }
}
.datetimelocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid white 1.2px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  // padding-top: 0.2rem;
}
.missing {
  display: flex;
  justify-content: center;
  letter-spacing: 0.1rem;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  border-bottom: solid white 1.2px;

  img {
    width: 2rem;
    height: 2rem;
    padding-right: 3px;
  }
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;

  label {
    margin: 0.2rem;
    padding-left: 0.2rem;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    input {
      margin-top: 3px;
    }
  }
}
.hashtag {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    padding-left: 0.5rem;
  }
}
.label {
  margin-top: 1.4rem;
  width: 100%;
}
.imageOnEdit {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
  img {
    margin: 0.7rem 0;
  }
}
.about {
  margin-bottom: 1rem;
  max-width: 400px;
  padding-bottom: 1rem;
  padding: 0 1rem;

  h4 {
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
  }
}
.language {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: white solid 1.2px;
  p {
    margin: 0;
    padding-left: 0.5rem;
  }
}

.attendeeH4 {
  margin: 1.2rem 0 0.5rem;
}

.attendees {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5rem;
}
.attendee {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  img {
    margin-bottom: 0.5rem;
  }
}
.leave {
  background: rgba(185, 179, 179, 0.1);
  border: solid rgba(255, 255, 255, 0.3) 1.2px;
  border-radius: 8px;
  padding: 3px 1px;
  margin: 0;
  width: 3rem;
  color: white;
  align-items: center;
  font-size: 0.7rem;
}
.leave:hover {
  background: rgba(2, 4, 32, 0.3);
}

// styles on edit
.formOnEdit {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.2vw;
  padding: 2.5rem;
  text-align: left;

  input {
    width: 100%;
    text-align: left;
    background-color: rgba(185, 179, 179, 0);
    border-bottom: solid 1.2px white;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
  }
  input:hover {
    border-bottom: solid 1.2px rgba(255, 255, 255, 0.3);
  }
}

// on edit missing ingredients
.addIngredient {
  display: flex;
  flex-direction: column;
  div:last-of-type {
    display: flex;
  }
}
.missingIngredientInList {
  display: flex;
  align-items: center;
  justify-content: right;

  div:last-of-type {
    text-align: end;
  }
  img {
    margin: 0.5rem;
  }
}
.squareEditButtons {
  background-color: rgba(5, 12, 32, 0.2);
  margin: 0.5rem;
  color: white;
  background-color: rgba(5, 12, 32, 0.2);

  border: 1.2px rgba(164, 179, 221, 0.5) solid;
}
.squareEditButtons:hover {
  background-color: rgba(113, 124, 153, 0.5);
}
.plus {
  background: hsla(285, 76%, 36%, 1);
  background: linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsl(346, 100%, 65%) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );
}
.plus:hover {
  background: rgb(131, 12, 113) 0%;
}
.addComment {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 6px 3px;
  margin: 7px;
  width: 4rem;
  height: 1.5rem;
  color: white;
  align-items: center;
  border: none;
  background: hsla(285, 76%, 36%, 1);
  background: linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsl(346, 100%, 65%) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );
}
.commentDiv {
  display: flex;
  justify-content: center;
  align-items: baseline;
  input {
    border: solid white 1.2px;
    padding: 0.4rem;
    color: black;
    border-radius: 8px;
    height: 1.5rem;
    width: 12rem;
  }
}
.commentBody {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
  div {
    align-items: center;
    text-align: center;
  }
  div:first-of-type {
    display: flex;
    flex-direction: column;

    img {
      margin: 8px 8px 0;
    }
  }
  div:last-of-type {
    background-color: white;
    border-radius: 8px;
    padding: 0.3rem;
    width: 10rem;

    p {
      color: black;
      span {
        color: grey;
        font-size: 0.7rem;
      }
    }
  }
}
.commentWithDelete {
  display: flex;
}
.buttonsOnEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem 1rem;
  button:last-of-type {
    margin: 0.5rem;
    width: 6rem;
    height: 2rem;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.2vw;
    background: hsla(285, 76%, 36%, 1);

    background: linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsl(346, 100%, 65%) 100%
    );

    background: -moz-linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsla(346, 100%, 65%, 1) 100%
    );

    background: -webkit-linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsla(346, 100%, 65%, 1) 100%
    );
  }
  button:first-of-type {
    background-color: rgba(5, 12, 32, 0.2);
    margin: 0.5rem;
    width: 6rem;
    height: 2rem;
    border-radius: 9px;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.2vw;
  }
  button:first-of-type:hover {
    background-color: rgba(5, 12, 32, 0.8);
    margin: 0.5rem;
    width: 6rem;
    height: 2rem;
    border-radius: 9px;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.2vw;
  }
  button:last-of-type:hover {
    background: rgb(131, 12, 113) 0%;
  }
}
.participate {
  text-align: center;
  line-height: 0.2rem;
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 7px;
  width: 6rem;
  height: 1.5rem;
  color: white;
  border: none;
  background: hsla(285, 76%, 36%, 1);
  background: linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsl(346, 100%, 65%) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );
}
