.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 2rem;
  width: 100vw;

  p {
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin: auto;
    color: black;
  }
  h3 {
    font-size: 1rem;
    margin: auto;
  }
  h2 {
    margin: auto;
    font-size: 1.8rem;
  }
}
.div {
  margin: 7rem 0rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  color: black;
  backdrop-filter: blur(18.2px);
  -webkit-backdrop-filter: blur(18.2px);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
}
.profileImg {
  border-radius: 50%;
}
.comments {
  ul {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    padding: 1rem;
    color: black;
    backdrop-filter: blur(18.2px);
    -webkit-backdrop-filter: blur(18.2px);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
  }
}
