.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 96vw;
  margin-top: 6.5rem;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2vw;
  color: white;
  padding: 0;
}

.searchInput {
  width: 45vw;
  // width: 13rem;
  height: 1.6rem;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  line-height: 2rem;
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.2vw;
  background: rgba(255, 255, 255, 0);
  border-radius: 12px;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 253, 253, 1);
  margin: 1rem 0;
}

// .searchButton {
//   background: rgba(255, 255, 255, 0);
//   border: none;
// }
// .searchButton:hover {
//   cursor: pointer;
// }
.linkView {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 4px 2px;
  margin: 7px;
  margin-top: -2rem;
  width: 9rem;
  height: 2.7rem;
  color: white;
  align-items: center;

  background: hsla(285, 76%, 36%, 1);

  background: linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsl(346, 100%, 65%) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(285, 76%, 36%, 1) 0%,
    hsla(346, 100%, 65%, 1) 100%
  );
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    flex-direction: column;

    li {
      box-shadow: 0 4px 30px rgba(243, 235, 235, 0.3);
      backdrop-filter: blur(8.4px);
      -webkit-backdrop-filter: blur(8.4px);
      background-color: rgba(5, 12, 32, 0.3);
      width: 65vw;
      margin: 0.5rem 0;
      text-align: center;
      padding: 1.2rem 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1.2px solid white;
    }
    img {
      border-radius: 10px;
      width: 50vw;
    }
    h3 {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      margin-bottom: 0;
    }
  }
}
