.html {
  height: 100vh;
  margin: 0px;
  background-image: url('/backgroundphoto16.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  // flex-direction: column;
  align-items: center;

  a,
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }
  h2 {
    color: white;
  }

  ul {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    text-transform: lowercase;
  }
  nav {
    text-align: center;
    width: 100vw;
    height: 30px;
    margin: 0;
    position: fixed;
    top: 0px;
    padding: 12px;

    transition: all 0.3s ease-out;
  }
  footer {
    // position: absolute;

    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    // margin: 2rem;
    // border-top: solid 1.2px white;
    ul {
      padding-top: 20px;
      border-top: solid 1.2px rgb(255, 255, 255);
    }
  }
  // input {
  //   // color: white;
  //   background: rgba(8, 6, 91, 0.1);
  //   border: solid white 1.2px;
  //   border-radius: 8px;
  //   width: 80px;
  //   height: 15px;
  //   font-family: 'Montserrat', sans-serif;
  // }
}
.profileImg {
  border-radius: 50%;
}

.searchInput {
  width: 7rem;
  height: 1.4rem;
  padding: 0;
  color: rgb(255, 255, 255);
  line-height: 2rem;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2vw;
  background: rgba(255, 255, 255, 0);
  border-radius: 12px;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 253, 253, 1);
}

.searchButton {
  background: rgba(255, 255, 255, 0);
  border: none;
}
.searchButton:hover {
  cursor: pointer;
}
//for mobile
// @media only screen (min-width: 768px)
//for ipad @media only screen (min-width: 1100px);
