.html {
  height: 100vh;
  margin: 0px;
  background-image: url('/backgroundphoto16.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  background-attachment: fixed;

  a,
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }
  h2 {
    color: white;
  }
  p {
    margin: 0;
  }
  ul {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    text-transform: lowercase;
    margin: 0;
  }
  nav {
    text-align: center;
    width: 100vw;
    height: 30px;
    margin: 0;
    position: fixed;
    top: 0;
    padding: 12px;
    transition: transform 1s ease;
    z-index: 1000;
    // ul {
    //   position: sticky;
    //   top: 0;
    // }
  }
}
.profileImg {
  border-radius: 50%;
}
.footer {
  border-top: solid 1.2px rgb(255, 255, 255);
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1.2rem;

  img {
    // border-radius: 50%;
  }
}
// .searchInput {
//   width: 7rem;
//   height: 1.4rem;
//   padding: 0;
//   color: rgb(255, 255, 255);
//   line-height: 2rem;
//   text-transform: lowercase;
//   font-weight: 400;
//   font-size: 1rem;
//   letter-spacing: 0.2vw;
//   background: rgba(255, 255, 255, 0);
//   border-radius: 12px;
//   backdrop-filter: blur(18px);
//   -webkit-backdrop-filter: blur(18px);
//   border: 1px solid rgba(255, 253, 253, 1);
// }

.searchButton {
  background: rgba(255, 255, 255, 0);
  border: none;
}
.searchButton:hover {
  cursor: pointer;
}
.logo {
  z-index: 10000;
}
//for ipad
// @media only screen (min-width: 768px)
//for laptop @media only screen (min-width: 1100px);
.defaultImgDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
