.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1.5px;
  margin: 0;
  width: 100vw;
  span {
    letter-spacing: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
}
.div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 8px 16px;
  margin-bottom: 14rem;
  // width: 100vw;

  h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
  }
  p {
    color: white;
    padding: 15px 0 20px;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    border-top: solid 1.2px rgba(254, 253, 253, 0.7);
    border-bottom: solid 1.2px rgba(254, 253, 253, 0.7);

    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 1.6rem;
  }
  button {
    // background: hsla(285, 76%, 36%, 1);

    // background: linear-gradient(
    //   180deg,
    //   hsla(285, 76%, 36%, 1) 0%,
    //   hsl(346, 100%, 65%) 100%
    // );

    // background: -moz-linear-gradient(
    //   180deg,
    //   hsla(285, 76%, 36%, 1) 0%,
    //   hsla(346, 100%, 65%, 1) 100%
    // );

    // background: -webkit-linear-gradient(
    //   180deg,
    //   hsla(285, 76%, 36%, 1) 0%,
    //   hsla(346, 100%, 65%, 1) 100%
    // );
    background-color: rgba(5, 12, 32, 0);
    color: white;
    // border: solid 1.2px rgba(5, 12, 32, 0.7);
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    // font-weight: 600;
    // letter-spacing: 1.5px;
    // text-transform: lowercase;
  }
  button:hover {
    background-color: rgba(5, 12, 32, 0.4);
  }
}
