.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem 0 6rem;
  width: 100vw;
  padding-top: 2rem;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2vw;
  color: white;
  p {
    margin: 0;
  }
  .fadeIn:last-of-type {
    padding-bottom: 1rem;
    margin: 1rem;
  }

  button {
    background: rgba(185, 179, 179, 0.1);
    border: solid rgba(255, 255, 255, 0.3) 1.2px;
    border-radius: 8px;
    padding: 2px 1px;
    margin: 0;
    width: 3rem;
    color: white;
    align-items: center;
    font-size: 0.7rem;
  }
  button:hover {
    background: rgba(2, 4, 32, 0.3);
  }
}

.card {
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  background-color: rgba(5, 12, 32, 0.5);
  border-bottom: 1.2px solid white;
}

.form {
  width: 80vw;
  // text-align: left;
  align-items: center;
  padding: 1rem;
  margin: 1.6rem 0.8rem 0rem;
  line-height: 1rem;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.2vw;
}
.formOnEdit {
  text-align: left;
}
.profileTitel {
  margin: 0;
  line-height: 0.8rem;
  h3 {
    margin: 0.3rem;
    font-size: 1.2rem;
    margin-bottom: -0.9rem;
    padding-top: 0.7rem;
  }
}

.input {
  color: white;
  width: 60vw;
  margin: auto;
  text-align: left;

  input {
    margin: 2rem 0;
    width: 100%;
    color: white;
    background-color: rgba(5, 12, 32, 0);
    border-bottom: solid 1.2px white;
    border-top: none;
    border-right: none;
    border-left: none;
  }
}
.img {
  border-radius: 50%;
}

// .logout {
//   padding-bottom: 0.5rem;
// }

.profileMenu {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  div {
    box-shadow: 0 4px 30px rgba(243, 235, 235, 0.3);
    display: flex;
    justify-content: center;
    font-size: 12px;
    border-radius: 8px;
    padding: 0.4rem;
    margin: 7px;
    width: 9rem;
    height: 2.2rem;
    color: white;
    align-items: center;

    background: hsla(285, 76%, 36%, 1);

    background: linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsl(346, 100%, 65%) 100%
    );

    background: -moz-linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsla(346, 100%, 65%, 1) 100%
    );

    background: -webkit-linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsla(346, 100%, 65%, 1) 100%
    );
  }
}
.buttonsOnEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  button:last-of-type {
    margin: 0.5rem;
    width: 7rem;
    height: 2.5rem;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.2vw;
    background: hsla(285, 76%, 36%, 1);

    background: linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsl(346, 100%, 65%) 100%
    );

    background: -moz-linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsla(346, 100%, 65%, 1) 100%
    );

    background: -webkit-linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsla(346, 100%, 65%, 1) 100%
    );
  }
  button:first-of-type {
    background-color: rgba(5, 12, 32, 0.2);
    margin: 0.5rem;
    width: 7rem;
    height: 2.5rem;
    border-radius: 9px;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.2vw;
  }
  button:first-of-type:hover {
    background-color: rgba(5, 12, 32, 0.8);
    margin: 0.5rem;
    width: 7rem;
    height: 2.5rem;
    border-radius: 9px;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.2vw;
  }
}
// message sign from the user page

.message {
  // margin: 0.5rem;
}
.signes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}
