.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
  padding: 1.2rem;
  width: 98vw;
  color: white;

  h3 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
  }
  button {
    margin: 3rem 0 1rem;
    background: hsla(285, 76%, 36%, 1);

    background: linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsl(346, 100%, 65%) 100%
    );

    background: -moz-linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsla(346, 100%, 65%, 1) 100%
    );

    background: -webkit-linear-gradient(
      180deg,
      hsla(285, 76%, 36%, 1) 0%,
      hsla(346, 100%, 65%, 1) 100%
    );
    border: none;
    border-radius: 8px;
    padding: 0.4rem;
    width: 6rem;
    height: 2rem;
    font-size: 14px;
    box-shadow: 0 4px 30px rgba(243, 235, 235, 0.3);
    color: white;
    align-items: center;
  }
  button:hover {
    background-color: rgb(114, 4, 151);

    // border: solid rgba(255, 255, 255, 0.3) 1.2px;
  }
}

.form {
  width: 80vw;
  color: white;
  display: inline-block;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.2vw;
  padding: 15px 40px 10px;
  box-shadow: 0 4px 30px rgba(243, 235, 235, 0.3);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  background-color: rgba(23, 34, 65, 0.3);

  input {
    width: 100%;
    text-align: left;
    background-color: rgba(185, 179, 179, 0);
    border-bottom: solid 1.2px white;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 0.5rem;
    color: white;
  }
}
.label {
  color: white;
  background-color: rgba(185, 179, 179, 0);
  option {
    background-color: rgba(2, 4, 32, 0.7);
  }
}
.imgUpload {
  color: white;
  background-color: rgba(185, 179, 179, 0);
}
