.main {
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin-top: 10rem;
  width: 100vw;
  // height: 100vh;
}
.form {
  //display: flex;
  // flex-direction: column;
  text-align: left;
  padding: 10px;
  color: black;
  display: inline-block;
  //justify-content: flex-start;
  margin: auto;
  //line-height: 1rem;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.2vw;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  input {
    width: 100%;
    margin: auto;
    text-align: left;
    background-color: rgba(185, 179, 179, 0);
    border: solid 1.2px rgb(43, 38, 92);
    border-radius: 3px;
  }
  button {
    background: rgba(185, 179, 179, 0);
    border: solid rgb(43, 38, 92) 1.2px;
    border-radius: 8px;
    padding: 5px 6px;
    margin: 5px 5px 15px;
    width: 140px;
    font-family: 'Montserrat', sans-serif;
  }
  button:hover {
    border: solid rgb(241, 58, 95) 1.2px;
  }
}
