.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 11rem;
  padding: 2rem;
  width: 100vw;
  color: white;
}
.form {
  margin: auto;
  line-height: 2rem;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2vw;
  border: solid 1.2px white;
  padding: 15px 50px 10px;

  input {
    color: white;
    width: 100%;
    margin: auto;
    text-align: left;
    background-color: rgba(185, 179, 179, 0);
    border-bottom: solid 1.2px white;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  button {
    background: rgba(185, 179, 179, 0.3);
    border: solid rgba(255, 255, 255, 0.3) 1.2px;
    border-radius: 8px;
    padding: 7px;
    margin: 7px;
    width: 6rem;
    color: white;
    align-items: center;
  }
  button:hover {
    background: rgba(2, 4, 32, 0.3);
    // border: solid rgba(255, 255, 255, 0.3) 1.2px;
  }
}
.button {
  margin-top: 20px;
  margin-bottom: 7px;
}
