.html {
  height: 100vh;
  margin: 0px;
  background-color: #050c20cc;
  display: flex;
  flex-direction: column;
  align-items: center;

  a,
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }
}
